/* Forme du site */
*{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

body{
    margin:0;
}

button:hover{
    cursor: pointer;
}




.container{
    display: grid;
    width: 100vw;
    grid-area: 
        "header"
        "main"
        "footer"
}

/* Logo */
.logo{
    grid-area: logo;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    justify-self: left;
    transition: 1s ease-in-out;
}

.logo:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(1turn);
}

/* Header */
.header{
    grid-area: header;
    background: linear-gradient(120deg, rgb(0,167,205) 0%, rgb(0,54,67) 50%);
    padding: 1%;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "logo   nav";
    align-items: center;
}

.div-logo{
    border-right: 1px solid white;
}

.header nav{
    grid-area: nav;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 2vw;  
}

.header p{
    color: white;
    text-align: center;
    align-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 4rem;
    width: 9vw;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
}

.header p:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(0, -0.1rem);
}

/* Main */
.main{
    grid-area: main;
    background-color: rgb(228, 253, 253)  ;
    padding: 2.5rem;
}

/* Footer */
.footer{
    grid-area: footer;
    background: linear-gradient(228deg, rgb(2,0,36) 0%, rgb(0,93,115) 100%);
    color: white;
    padding: 0.1rem;
}

.footer > div{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.footer > p{
    text-align: center;
}

.lien-footer{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: 0.25s ease-in-out;
}

.lien-footer:hover{
    height: 30px;
    width: 30px;
    transform: rotate(1turn);
}


/* ===== Ce qui se trouve dans le main ===== */

/* Titre et description */
h2{
    margin-top: 0px;
    font-weight: bold;
}

.description strong{
    color: #1B3B5F;
}

/* Toutes les images des activités */
.image-sport{
    height: 20rem;
    width: 20rem;
    border-radius: 10px;
    transition: 0.25s;
}

.image-sport:hover{
    transform: translate(0, -0.2rem);
    filter: brightness(50%);
    transition: 0.25s;
}

/* Grille qui contien les 4 activités */
.grid-container{
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Chaque bloc */
.container {
    position: relative;
    display: block;
}

.container p {
    font-size: x-large;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white; 
    padding: 0.5rem;
    opacity: 0;
    transition: 0.25s ease-in-out; 
    pointer-events: none; 
}

.container .image-sport:hover + p {
    opacity: 1;
}

/* Bouton pour voir tous les activités */
.bouton-plus{
    font-weight: bold;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center; 
}

main button{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0,167,205);
    border: none;
    height: 2.5em;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    color: aliceblue;
    transition: 0.25s ease-in-out;
}

main button:hover{
    background-color: white;
    border: 0.175rem rgb(0,167,205) solid;
    color: #5A8CA7;
    transform: translate(0, -0.2rem);
}

.footer > div{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.footer > p{
    text-align: center;
}

/* ===== TABLETTE ===== */
@media screen and (max-width: 1300px) {
    *{
        font-size: 14px;
    }

    /* HEADER */
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
    }

    .div-logo {
        border: none;
        margin-bottom: 1rem;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .header p {
        width: auto;
    }

    /* MAIN */
    main .grid-container {
        gap: 1rem;
        justify-items: center;
        align-items: center;
    }

    main .container {
        width: 100%;
    }

    main .image-sport {
        width: 100%; 
        height: auto; 
    }

    main .container p {
        font-weight:lighter;
        font-size: small;
        width: 80%;
        padding: 0.5rem;
        opacity: 0;
        transition: 0.25s ease-in-out;
        pointer-events: none;
        text-align: center;
    }
}

/* ===== TELEPHONE ===== */
@media screen and (max-width:600px){

    /* MAIN */
    main .grid-container{
        flex-direction: column;
    }

    main .container{
        width: 60vw;
    }

    main .container p{
        font-weight: bold;
        font-size: large;
    }

    /* Footer */ 
    .footer > div{
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .footer > p{
        align-self: center;
        text-align: center;
    }
    
}