/* Forme du site */
*{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

body{
    margin:0;
}

button:hover{
    cursor: pointer;
}

.container{
    display: grid;
    width: 100vw;
    grid-area: 
        "header"
        "main"
        "footer"
}

/* Logo */
.logo{
    grid-area: logo;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    justify-self: left;
    transition: 1s ease-in-out;
}

.logo:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(1turn);
}

/* Header */
.header{
    grid-area: header;
    background: linear-gradient(120deg, rgb(0,167,205) 0%, rgb(0,54,67) 50%);
    padding: 1%;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "logo   nav";
    align-items: center;
}

.div-logo{
    border-right: 1px solid white;
}

.header nav{
    grid-area: nav;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 2vw;  
}

.header p{
    color: white;
    text-align: center;
    align-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 4rem;
    width: 9vw;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
}

.header p:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(0, -0.1rem);
}
/* Main */
.main{
    grid-area: main;
    background-color: linear-gradient(black 0%, rgb(245, 250, 255) 1%)  ;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* Footer */
.footer{
    grid-area: footer;
    background: linear-gradient(228deg, rgb(2,0,36) 0%, rgb(0,93,115) 100%);
    color: white;
    padding: 0.1rem;
}

.footer > div{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.footer > p{
    text-align: center;
}

.lien-footer{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: 0.25s ease-in-out;
}

.lien-footer:hover{
    height: 30px;
    width: 30px;
    transform: rotate(1turn);
}


/* ===== Ce qui se trouve dans le main ===== */

/* Filtreur */
.filter{
    position: sticky;
    top: 0;
    background-color: rgb(228, 253, 253);
    padding: 2.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter h3{
    margin-top: 0;
}

.filter div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label{
    margin-right: 1rem;
    font-weight: bold;
}

.filter button{
    background-color: rgb(0,167,205);
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}

.filter button:hover{
    background-color: white;
    color: rgb(0,167,205);
    border: 1px solid rgb(0,167,205);
    transform: translate(0, -0.1rem);
}

/* La liste des sports */
.liste{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

/* Chaque bloc-sport */
.liste > div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1%;
    background-color: aliceblue;
    border-radius: 10px;

    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "photo  desc"
        "bouton desc";
    grid-template-columns: 1fr 5fr;
}

/* Titre de chaque bloc */
.liste > div h3{
    margin: 0;
    color: rgb(0, 132, 165);
}

/* Description de chaque bloc-sport */
.liste > div div.description{
    height: 100%;
    grid-area: desc;
}

.liste > div div.description strong{
    color: rgb(0, 132, 165);
}

/* Lien vers modifOuAjout.html "Modifier" */
.liste > div a{
    grid-area: bouton;
    width: 60%;
    height: 100%;
    display: flex;
    justify-self: center;
}

/* Bouton "Modifier" de chaque bloc-sport */
.modifier{
    padding: 5%;
    width: 100%;
    height: auto;
    transition: 0.25s ease-in-out;
    border: none;
    border-radius: 5px;
    background-color: rgb(0,167,205);
    color: white;
    transition: 0.25s ease-in-out;
}

.modifier:hover{
    border: 1px solid rgb(0,167,205);
    background-color: white;
    color: rgb(0,167,205);
    transform: translate(0, -0.1rem);
}


/* Bouton "Ajouter" en bas de la liste */
.ajouter{
    padding: 1%;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    border: none;
    transition: 0.25s ease-in-out;
    border: none;
    border-radius: 5px;
    background-color: rgb(0,167,205);
    color: white;
    transition: 0.25s ease-in-out;
}

.ajouter:hover{
    border: 1px solid rgb(0,167,205);
    background-color: white;
    color: rgb(0,167,205);
    transform: translate(0, -0.1rem);
}


/* Les images des activités */
.image-sport{
    grid-area: photo;
    border-radius: 10px;
    width: 175px;
    height: 175px;
    justify-self: center;
}

/* Les images de intérieur/extérieur */
img[alt="interieur"], img[alt="exterieur"]{
    width: 25px;
    height: 25px;
}

/* ===== TABLETTE ===== */
@media screen and (max-width: 1300px) {
    *{
        font-size: 14px;
    }

    /* HEADER */
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
    }

    .div-logo {
        border: none;
        margin-bottom: 1rem;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .header p {
        width: auto;
    }

    /* FILTRE */
    .filter div{
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    
    
}

/* ===== TELEPHONE ===== */
@media screen and (max-width:600px){
    
    /* Footer */ 
    .footer > div{
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .footer > p{
        align-self: center;
        text-align: center;
    }

}